{% extends 'fromDjangoToXLSX/base.html' %}

{% block content %}
    <div class="container">
        <div class="card form-group otraclase">
            <div class="card-header">
                <h5 class="text-center">DOCUMENT EXPORTER REPORT</h5>
            </div>
                <form class="p-2" method="post" action="{%  url 'fdtxa:reporte' %}">
                   {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-outline-primary">Export</button>
                </form>
        </div>
    </div>
{% endblock content %}

