.otraclase{
    width: 500px;
    margin: 0 auto;
    border: 2px #a1ccda solid;
    background-color: white;
    padding: 10px;
    margin-top: 30px;
    box-shadow: 3px 5px 5px 1px #c7bfbf;
    border-radius: 15px;
}
.otraclase label{
    margin-top: 3px;
}
.otraclase button{
    margin-top: 8px;
}
.card-header{
    background-color: #cbe2f3;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
